<html ng-app="fuck">
<head>
	<title>Chan qua di</title>
	<meta charset='utf-8'> 
	<!-- <link rel="stylesheet" type="text/css" href="ng-img-crop.css"> -->
</head>
<body ng-controller="hieudeptrai">
Điền tên của bạn <input type="text" ng-model="name"><br>

[{{name}}] là tên của bạn à ? Đẹp quá ^_^<br>
Vậy thì ấn nút để thấy điều kì diệu hé =>>> <input type="button" value="Click me please !!!" ng-click="aaa()">
{{message}}

<div align="center" ng-controller="Ctrl">
	<div>Select an image file: <input type="file" id="fileInput" /></div>
	<div class="cropArea">
		<img-crop image="myImage" result-image="myCroppedImage"></img-crop>
	</div>
	<div>Cropped Image:</div>
	<div><img ng-src="{{myCroppedImage}}" /></div>
</div>
<br />
<div id="wrapper" align="center">
	<h1>Xử lý ảnh nude</h1>
	<!-- <div class="entry">
		<img id="testImage" src="images/1.jpg" width="500" height="375" alt="" />
		<div class="btn" onclick="nude.load('testImage');nude.scan(function(result){ if(!result) document.getElementById('result1').innerHTML='No nude!'; });">Scan Image</div>
		<div style="float:right;margin-top:-20px;" id="result1"></div>
	</div>
	<div class="entry">
		<img id="testImage2" src="images/2.jpg" width="500" height="375" alt="" />
		<div class="btn" onclick="nude.load('testImage2');nude.scan(function(result){ if(!result) document.getElementById('result2').innerHTML='No nude!!'; });">Scan Image</div>
		<div style="float:right;margin-top:-20px;" id="result2"></div>
	</div>
	<div class="entry">
		<img id="testImage3" src="images/3.jpg" width="500" height="375" alt="" />
		<div class="btn" onclick="nude.load('testImage3');nude.scan(function(result){ if(!result) document.getElementById('result3').innerHTML='No nude!!'; });">Scan Image</div>
		<div style="float:right;margin-top:-20px;" id="result3"></div>
	</div>
	<div class="entry">
		<img id="testImage4" src="images/4.jpg" width="500" height="375" alt="" />
		<div class="btn" onclick="nude.load('testImage4');nude.scan(function(result){ if(!result){ document.getElementById('result4').innerHTML='No nude!!'; }else{ document.getElementById('result4').innerHTML='Nude!!'; } });">Scan Image</div>
		<div style="float:right;margin-top:-20px;" id="result4"></div>
	</div> -->

	<div class="entry">
		<img id="testImage5" src="images/5.jpg" width="500" height="375" alt="" />
		<div class="btn" onclick="nude.load('testImage5');nude.scan(function(result){ if(!result){ document.getElementById('result5').innerHTML='No nude!!'; }else{ document.getElementById('result5').innerHTML='Nude!!'; } });">Scan Image</div>
		<div style="float:right;margin-top:-20px;" id="result5"></div>
	</div>

	<div class="entry">
		<img id="testImage6" src="images/6.jpg" width="500" height="375" alt="" />
		<div class="btn" onclick="nude.load('testImage6');nude.scan(function(result){ if(!result){ document.getElementById('result6').innerHTML='No nude!!'; }else{ document.getElementById('result6').innerHTML='Nude!!'; } });">Scan Image</div>
		<div style="float:right;margin-top:-20px;" id="result6"></div>
	</div>

	<div class="entry">
		<img id="testImage7" src="images/7.jpg" width="500" height="375" alt="" />
		<div class="btn" onclick="nude.load('testImage7');nude.scan(function(result){ if(!result){ document.getElementById('result7').innerHTML='No nude!!'; }else{ document.getElementById('result7').innerHTML='Nude!!'; } });">Scan Image</div>
		<div style="float:right;margin-top:-20px;" id="result7"></div>
	</div>

	<div class="entry">
		<img id="testImage8" src="images/8.jpg" width="500" height="375" alt="" />
		<div class="btn" onclick="nude.load('testImage8');nude.scan(function(result){ if(!result){ document.getElementById('result8').innerHTML='No nude!!'; }else{ document.getElementById('result8').innerHTML='Nude!!'; } });">Scan Image</div>
		<div style="float:right;margin-top:-20px;" id="result8"></div>
	</div>


	<div class="entry">
		<img id="testImage9" src="images/9.jpg" width="500" height="375" alt="" />
		<div class="btn" onclick="nude.load('testImage9');nude.scan(function(result){ if(!result){ document.getElementById('result9').innerHTML='No nude!!'; }else{ document.getElementById('result9').innerHTML='Nude!!'; } });">Scan Image</div>
		<div style="float:right;margin-top:-20px;" id="result9"></div>
	</div>

</div>



<link rel="stylesheet" type="text/css" href="style.css" />
<link rel="stylesheet" href="ng-img-crop.css"/>
<style type="text/css">
.cropArea {
  background: #E4E4E4;
  overflow: hidden;
  width:500px;
  height:150px;
}

</style>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

<script type="text/javascript" src="nude.min.js"></script>
<script type="text/javascript" src="test.nude.js"></script>

<script src="ng-img-crop.js"></script>

<script type="text/javascript">

var crop = angular.module('crop', ['ngImgCrop']);
crop.controller('Ctrl', function($scope) {
    $scope.myImage='';
    $scope.myCroppedImage='';

    var handleFileSelect=function(evt) {
      var file=evt.currentTarget.files[0];
      var reader = new FileReader();
      reader.onload = function (evt) {
        $scope.$apply(function($scope){
          $scope.myImage=evt.target.result;
        });
      };
      reader.readAsDataURL(file);
    };
    angular.element(document.querySelector('#fileInput')).on('change',handleFileSelect);
  });


var app = angular.module('fuck',['crop']);
var hieudeptrai = app.controller('hieudeptrai', function($scope){
	$scope.aaa = function aaa(){

		$scope.message = $scope.name + ' ....DM, tên đẹp cc, Đi Chết Đi';
		console.log($scope.message);
	}
});
</script>
</body>
</html>