@charset "utf-8";

/* CSS Document */

@import url("theme-setup.css");
/*@import url('http://fonts.googleapis.com/css?family=Istok+Web');*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700); 
body {
	margin: 0 auto;
	padding: 0;
	font-family: sans-serif;
 	-ms-text-size-adjust: 100%;
  	-webkit-text-size-adjust: 100%;
	/*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/
	
	color: #212121;
	background: #F0F0F0;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
a:hover,  a:focus {
	text-decoration: none;
}
.logo {
	border-top: 1px solid rgba(248,248,248,0.1);
	border-bottom: 1px solid rgba(248,248,248,0.1);
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 15px;
}
h1 {
    font-family: "Open Sans";
    font-weight: normal;
    text-align: left;
}
h1 {
    /*border-bottom: 1px solid #6D6B6B;*/
    background: #DFDFDF;
    color: #454545;
    font-size: 17px;
    margin-left: 20px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    position: relative;
    text-shadow: 0 1px 0 white;
    width: 95%;
}
.logo a {
	color: #EDEDED;
	font-size: 30px;
}
.logo img {
	max-width: 117px;
	height: auto;
}
.wix-menu {
	margin-top: 0px;
	background: #BB2828;
	position: fixed;
 	z-index: 9999;
 	width:100%;
}
.wix-menu > ul {
	display: table;
	margin: 0 auto;
	padding: 0;
	/*text-align: center;*/
	float:left;
	margin-left: 10%;
}
.wix-menu > ul li:hover > ul {
	display: block;
}
.wix-menu > ul > li {
	display: inline-block;
	position: relative;
}
.wix-menu ul li a {
	border: 1px solid rgba(75, 75, 75, 0);
	color: rgb(237, 237, 237);
	display: inline-block;
	padding: 15px;
	padding-top: 20px;
	text-transform: uppercase;
}
.wix-menu ul li.current-menu-item a,  .wix-menu ul li a:hover,  .wix-menu ul li a:focus {
	background-color: rgba(36, 36, 36, 0.44);
	border: 1px solid rgba(75, 75, 75, 0.44);
	text-decoration: none;
}
.wix-menu .sub-menu,  .wix-menu > ul li > ul {
	display: none;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 100%;
	z-index: 1;
}
.wix-menu .sub-menu li,  .wix-menu > ul li > ul li {
	list-style: none;
	min-width: 150px;
	text-align: left;
}
.wix-menu .sub-menu .sub-menu,  .wix-menu > ul li > ul ul {
	left: 100%;
	position: absolute;
	top: 0;
}
.wix-menu .sub-menu li a,  .wix-menu > ul li > ul li a {
	padding: 5px 15px;
	width: 100%;
	background-color: rgba(0,0,0,0.75);
}
.wix-menu .sub-menu li a:hover,  .wix-menu > ul li > ul li a:hover {
	background-color: rgba(0,0,0,1);
}
.icon-color {
	background-color: rgba(255,116,55,1);
}
.detail-section {
	margin-top: 2px;
}
.wix-sidebar {
	width: 100%;
	margin-top:10%;
	padding-bottom:5%;
}
.wix-sidebar img{
	padding-bottom:3%;
}
.wix-widget {
	padding: 10px 15px 10px 15px;
	text-align: justify;
	line-height: 22px;
	border:1px solid #CCC9C9;
	margin-bottom:2%;
	background:#f0f0f0;
}
.wix-widget li {
	list-style: none;
	display: table;
	border-left:3px solid #1B966A;
	padding: 10px;
	margin-bottom:5px;
	width:100%;
}
.wix-widget li:hover{
	background: #1B966A;
	color:#fff;
}
.wix-widget ul a:hover{
	color:#000;
}
.wix-widget li h4 a {
	color: #212121;
}
.wix-widget li img {
	height: 100px;
	margin: 0 13px 0 0;
	width: 100px;
}
/*************** Tabination *********************/

.wix-post {
	padding: 15px 0px;
}
.wix-post ul {
	width: 100%;
}
.wix-post > ul > li {
	border-bottom: 1px solid rgb(197, 197, 197);
	display: inline;
	float: left;
	max-height: 21px;
	overflow: hidden;
	width: 33.333%;
}
.wix-post > ul > li a {
	color: #212121;
	text-transform: uppercase;
}
.wix-post > ul > li.active,  .wix-post > ul > li:hover,  .wix-post > ul > li:focus {
	border-bottom: 1px solid rgba(255, 116, 55, 1);
}
.wix-post > ul > li.active a,  .wix-post > ul > li a:hover,  .wix-post > ul > li a:focus {
	color: #ff7437;
	text-decoration: none;
}
.wix-post .tab-content {
	float: left;
}
.wix-widget .wix-post .tab-content {
    padding-bottom: 20px;
}
.tab-content > .tab-pane > ul > li {
	float: left;
	list-style: none outside none;
	margin: 5px 0;
	width: 100%;
}
.tab-content > .tab-pane > ul > li img {
	width: 55px;
	height: 55px;
	float: left;
	margin: 0px 15px 10px 0px;
}
.tab-content > .tab-pane > ul > li a {
	color: #212121;
	font-weight: bold;
}
.tab-content > .tab-pane > .tagcloud {
	margin: 10px 0px 0px 0px;
	width: 100%;
}
.details-mian {
	background-color: #ffffff;
	border:1px solid #CCC9C9;
	background-position: right top;
	background-repeat: repeat-y;
}
.right-sidebar {
	background-image: url(../images/right-sidebar-bg.png);
	background-position: right 7px top;
}
.full-width {
	background-image: none;
}
.detail-inner {
	width: 100%;
	margin-top: 40px;
	border-left:2px solid #BB2828;
}
.detail-inner h1{background:#dfdfdf;}
.post-box {
	margin: 0 auto 0 0;
	width: 92%;
}
.post-box img {
	z-index: 9999;
	max-width: 100%;
	height: auto;
}
.post-box-img {
	height: auto;
	position: relative;
}
.post-box-img:hover .post-box-hover {
	opacity: 1;
}
.post-box-hover {
	position: absolute;
	top: 0;
	width: 100%;
	background-color: rgba(0,0,0,0.7);
	height: 100%;
	opacity: 0;
	transition: all 0.4s ease-in-out 0s;
}
.post-box-hover-center {
	display: table;
	height: 100%;
	width: 100%;
	text-align: center;
}
.post-box-hover-center1 {
	display: table-cell;
	vertical-align: middle;
}
.zoom-icon {
	background-image: url(../images/zoom-icon.png);
	background-repeat: no-repeat;
	background-position: center center;
	padding: 6px 17px;
}
.post-box-details {
	margin: 5px 0px;
	line-height: 22px;
}
.post-box-details a {
	color: rgb(33, 33, 33);
	float: left;
	font-weight: bold;
	margin: 5px 0;
	width: 100%;
}
.post-box-details a:hover,  .post-box-details a:focus {
	text-decoration: none;
}
.post-box-link {
	/*border-bottom: 1px solid rgb(205, 205, 205);
	border-top: 1px solid rgb(205, 205, 205);*/

	display: table;
	padding: 9px 0 0;
	width: 100%;
}
.post-box-link ul {
	float: left;
	width: 100%;
}
.post-box-link li {
	display: inline;
	float: left;
	margin: 0 5px 0 0;
}
.post-box-link li.btn-read-more {
	margin: 5px 0px 0px 0px;
	float: left;
}
.post-box-link li.date a,  .post-box-link li.admin a,  .post-box-link li.category a,  .post-box-link li.comments a {
	color:#5F5C5C;
	padding: 0px 5px 0px 0px;
}
.post-box-link li.date a {
	text-transform: uppercase;
}
.post-box-link li.admin a {
	height: 20px;
	overflow: hidden;
	max-width: 150px;
	white-space: nowrap;
	text-overflow: ellipsis;
	float: left;
}
.readmore {
	background-color: #ff7437;
	color: #FFF;
	font-size: 13px;
	padding: 5px 10px;
}
.readmore:hover,  .readmore:focus {
	text-decoration: none;
	color: #FFF;
}
.wix-pagination {
	margin: 20px auto;
	text-align: center;
	display: table;
}
.wix-pagination li a,
.wix-pagination li span {
	float: left;
	height: 35px;
	line-height: 1.42857;
	margin: 3px !important;
	padding: 8px 8px;
	position: relative;
	text-decoration: none;
	width: 35px;
	background-color: #efefef;
	border: 1px solid #212121;
	color: #212121;
	border-radius: 50% !important;
}
.prev-all-icon {
	padding: 8px 0 !important;
}
.wix-pagination li.active a,
.wix-pagination li.active span {
	pointer-events: none;
}
.wix-pagination li.active a,
.wix-pagination li.active a:hover,
.wix-pagination li.active a:focus,
.wix-pagination li a:hover,
.wix-pagination li a:focus
.wix-pagination li.active span,
.wix-pagination li.active span:hover,
.wix-pagination li.active span:focus,
.wix-pagination li span:hover,
.wix-pagination li span {
	border: 1px solid #ff7437;
	background-color: #efefef;
	color: #212121;
}
.page-numbers.dots {
    background-color: rgba(0, 0, 0, 0);
    border: medium none;
    font-size: 20px;
    padding: 4px;
}
.page-numbers.dots:active,
.page-numbers.dots:hover,
.page-numbers.dots:focus {
	border: none;
	background-color: transparent;
	color: #212121;
}
.footer {
	margin: 80px auto;
	color: #000;
	background:#CCC9C9;
	text-align: center;
	font-size:12px;
	height:100px;
}
.footer a {
	color: #BB2828;
	text-decoration: none;
	font-weight: bold;
}
/********** Blog page start *******************/

.wix-inner-post {
	margin: 40px auto 0;
	width: 96%;
}
.wix-page-title {
	padding: 0px;
}
.wix-page-title h1 {
	margin: 0px 0px 10px 0px;
	font-size: 30px;
}
.wix-single-post {
	margin: 10px 0px;
}
.wix-single-post img.img-responsive {
	max-width: 100%;
}
.wix-single-post .post-titel {
	color: #212121;
	font-weight: bold;
	font-size: 18px;
	display: table;
	text-decoration: none;
	margin: 15px 0px;
}
.wix-single-post .post-titel a {
	color: #212121;
}
.wix-post-content {
	margin: 25px 0px;
	text-align: justify;
	width:100%;
}
.wix-post-content img {
	height: auto;
	max-width: 100%;
}
.wix-single-post .tag li:last-child {
	float: none;
}
.wix-single-post .tag li a {
	color: #ff7437;
	text-transform: capitalize;
}
.wix-comments {
	width: 100%;
	float: left;
	padding: 0 30px 0 15px;
}
.comments-title,  .comment-reply-title {
	font-size: 18px;
	color: #212121;
	text-align: center;
	text-transform: uppercase;
	margin: 10px 0px;
}
.wix-comments .comment-list li {
	display: inline;
}
.wix-comments .comment-author {
	width: 8%;
	float: left;
}
.wix-comments .comment-content {
	width: 92%;
	float: left;
}
.wix-comments .comment-author-name {
	float: left;
	width: 50%;
}
.wix-comments .comment-author-name a {
	color: #212121;
	text-decoration: none;
}
.wix-comments .comment-author-name a:hover,  .wix-comments .comment-author-name a:focus {
	text-decoration: none;
}
.wix-comments .comment-metadata a {
	color: #595959;
	font-size: 13px;
}
.wix-comments .comment-metadata a:hover,  .wix-comments .comment-metadata a:focus {
	text-decoration: none;
}
.wix-comments .comment-metadata {
	float: right;
	width: 50%;
	text-align: right;
}
.wix-comments .comment-content-main {
	border: 1px solid #C8C8C8;
	float: left;
	margin: 5px 0px 0px 0px;
	padding: 10px 10px 20px;
	width: 100%;
}
.wix-comments .reply .comment-reply-link {
	background-color: #383838;
	color: #FFFFFF;
	float: right;
	margin: 10px 0;
	padding: 3px 10px;
	text-transform: uppercase;
}
.wix-comments .comment-respond {
	float: left;
	width: 100%;
	margin: 20px 0px;
}
.wix-comments .comment-field {
	float: left;
	margin: 10px 0;
	width: 47%;
}
.wix-comments .comment-field-2 {
	float: right;
}
.wix-comments input[type='text'] {
	border: 1px solid #C8C8C8;
	padding: 5px 10px;
	width: 100%;
}
.wix-comments input[type='email'] {
	border: 1px solid #C8C8C8;
	padding: 5px 10px;
	width: 100%;
}
.wix-comments input[type='url'] {
	border: 1px solid #C8C8C8;
	padding: 5px 10px;
	width: 100%;
}
.wix-comments textarea {
	border: 1px solid #C8C8C8;
	padding: 5px 10px;
	width: 100%;
	height: 150px;
}
.wix-comments .comment-box {
	width: 100%;
	float: left;
}
.wix-comments input[type='submit'] {
	background-color: #FF7437;
	border: 1px solid #C8C8C8;
	color: #FFFFFF;
	padding: 5px 10px;
}
.wix-comments code {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	color: #4B4B4B;
	white-space: normal;
}
.wix-comments .form-allowed-tags {
	float: left;
	width: 100%;
	margin: 10px 0px;
}
.wix-comments .children {
	padding-left: 30px;
}
.wix-social {
	float: left;
	margin: 20px 0 20px;
	text-align: center;
	width: 100%;
}
.wix-widget .wix-social {
    border-bottom: 1px solid rgb(204, 204, 204);
    float: left;
    margin: 20px 0;
    padding-bottom: 21px;
    text-align: center;
    width: 100%;
}
.social {
	background-image: url(../images/social.png);
	background-repeat: no-repeat;
	display: inline;
	padding: 7px 20px;
}
.facebook-icon {
	background-position: -13px;
}
.twitter-icon {
	background-position: -54px;
}
.linkedin-icon {
	background-position: -138px;
}
.googleplus-icon {
	background-position: -96px;
}
.wix-post-content table {
	width: 100%;
}
.wix-post-content td {
	border: 1px solid;
	padding: 5px;
	text-align: center;
}
.wix-post-content embed {
	max-width: 100%;
}
.wix-post-content iframe {
	max-width: 100%;
}
.default-pagination-previous {
	float: right;
	padding-bottom: 10px;
}
.wp-caption {
	background: none repeat scroll 0 0 rgb(204, 204, 204);
	margin-bottom: 14px;
	max-width: 100%;
	padding: 5px;
	text-align: center;
}
.wp-caption a {
	border-bottom: medium none;
}
.wp-caption img {
	height: auto;
	margin: 0;
	max-width: 100%;
}
.wp-caption.alignleft {
	margin-right: 20px;
}
.wp-caption.alignright {
	margin-left: 20px;
}
.wp-caption.alignnone {
	overflow: hidden;
	width: 100% !important;
}
.wp-caption.alignnone img {
	margin: 0 auto;
	max-width: 100% !important;
}
.wp-caption-text {
	font-size: 14px;
	font-weight: bold;
	margin: 0;
	padding: 8px 0;
}
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}
.wix-widget-author {
	width:100%;
}
.topic{
	color: #282828;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 15px;
    font-weight: normal;
    line-height: 22px;
    border-bottom: 1px solid #F0F0F0;
    color: 
}
div.Meta {
    z-index: 5;
}
div.Meta {
    color: #70727c;
    font-size: 11px;
}
div.Meta span.Announcement {
    background: #bb2828 none repeat scroll 0 0;
    color: #fff;
}
.Meta span, .DataList .Meta strong {
    margin-right: 12px;
}
.Meta .Announcement {
    background: #777777 none repeat scroll 0 0;
    color: #ffffff;
    font-weight: bold;
    padding: 1px 4px;
}
.HasAnswersBox {
    background: #013b76 none repeat scroll 0 0;
}
.AnswersBox {
    background: #0053a9 none repeat scroll 0 0;
    margin-right: 4px;
}
.StatBox, .StatBox a {
    color: #99e2fe;
    display: block;
}
.StatBox {
    background: #004c9b none repeat scroll 0 0;
    float: right;
    font-size: 18px;
    font-weight: bold;
    height: 38px;
    line-height: 1.2;
    padding: 5px 5px 0;
    text-align: center;
}
.StatBox span {
    display: block;
    font-size: 9px;
    font-weight: normal;
    line-height: 1;
    min-width: 38px;
    padding-bottom: 2px;
}
.ViewsBox {
    background: #0065ce none repeat scroll 0 0;
}
.search-form {
	float:right;
	margin-right:2%;
	margin-top:0.5%;
}

.search-field {
	background-color: transparent;
	background-image: url(http://30bpku37grim3y3dfz3q3khs.wpengine.netdna-cdn.com/wp-content/themes/_tk-1.1/images/mainNavSearchIcon.png);
	background-position: 5px center;
	background-repeat: no-repeat;
	background-size: 24px 24px;
	border: none;
	cursor: pointer;
	height: 37px;
	margin: 3px 0;
	padding: 0 0 0 34px;
	position: relative;
	-webkit-transition: width 400ms ease, background 400ms ease;
	transition:         width 400ms ease, background 400ms ease;
	width: 0;
}

.search-field:focus {
	background-color: #f0f0f0;
	background-image: url(http://30bpku37grim3y3dfz3q3khs.wpengine.netdna-cdn.com/wp-content/themes/_tk-1.1/images/mainNavSearchIcon.png);
	/*border: 2px solid #8f8f8f;*/
	cursor: text;
	outline: 0;
	width: 230px;
}

.search-submit {
  display: none;
}

input[type="search"] {
  -webkit-appearance: textfield;
  z-index: 9999;
}

.details-mian a:hover{
	color:red;
}

.no-padding-left{
	padding-left: 0 !important;
}

.masonry-brick{
/* 	padding-bottom:20px; */
 background: #fff;
	float: left;
    width: 100%;
}

.slogan{
	background:transparent;
}
.main-nav{
	position: fixed;
 	z-index: 9999;
 	width:100%;
 	box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.2);
}

.adsbygoogle-sidebar{
 	display:inline-block;
 	width:270px;
 	height:270px;

 }
 .chpcs_image_carousel{
 	/*height:200px;*/
 }
.chpcs_foo_content{
	background:#fff;
	border: 1px solid #CCC9C9;
	border-top: 3px solid #BB2828;
}
#wa_chpc_slider_prev span:hover{color:#CCC9C9;}

.menu-right-border{
	width:100%;
	border-bottom:1px solid #CCC9C9;
	margin-bottom:10px;
}

.recruitment{
	position: relative;
	padding: 25px 20px;
	margin: 0 auto 20px;
	background-color: #fff;
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5), inset 0 0 50px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5), inset 0 0 50px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5), inset 0 0 50px rgba(0, 0, 0, 0.1);
	font-weight:600;
	background: url(http://kungfuphp.local/wp-content/uploads/2015/01/logo-kungfuphp.png) no-repeat right bottom;
	background-size: 15%;
}

.ItemContent a{
	color:#000;
}

.layout-vote{
	width:90%;
	height:160px;
}
.layout-vote tr td{
	width:100px;
}
.layout-vote img{
	width:100px;
}
.layout-vote img:hover{
	width:120px;
}
.btn-new-topic img:hover{
	opacity:0.8;
}


#fb-root {
  display: none;
}

/* To fill the container and nothing else */
.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
  width: 250px !important;
}
#footer_copyright {
    background: #38383A none repeat scroll 0 0;
    color: #fff;
    font-size: 13px;
    line-height: 30px;
    padding: 20px 0;
}
.container, .dnd_container {
    margin: 0 auto;
    width: 1170px;
}
.row::before, .row::after {
    content: "";
    display: table;
    line-height: 0;
}
.row::after {
    clear: both;
}
.row::before, .row::after {
    content: "";
    display: table;
    line-height: 0;
}
.row {
    width: 100%;
}
.row > [class*="span"]:first-child {
    margin-left: 0;
}
.row .span7 {
    width: 57.265%;
}
.row > [class*="span"] {
    box-sizing: border-box;
    display: block;
    float: left;
    margin-left: 2.5641%;
    min-height: 20px;
    width: 100%;
}
.row .span5 {
    width: 40.1709%;
}
.footer_social {
    text-align: right;
}
#footer_copyright a {
    color: #056ab2 !important;
}
#dz_main_footer a {
    color: #fff;
}
.footer_social a {
    background: #242e35 none repeat scroll 0 0;
    border-radius: 50%;
    color: #056ab2 !important;
    display: inline-block;
    height: 32px;
    line-height: 32px;
    text-align: center;
    width: 32px;
}
.row > [class*="span"]:first-child {
    margin-left: 0;
}
.row .span7 {
    width: 57.265%;
}
.recruitment span {
	font-family: 'Glyphicons Halflings';
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-size:12px;
    color: #888;
    padding: 0;
}
.recruitment p {
	padding-right: 0;
}
.recruitment span .col-md-4{
	width: 30%;
}
.btn-orange:hover {
    background: #d8891a;
    color: #fff;
}

.btn-apply-job {
    border-radius: 0px;
   	margin-left: 2px;
    margin-top: 5px;
    font-size: 13px;
    position: relative;
    top: -5px;
}
.btn-orange {
    color: #FFF;
    background: #EC9721 none repeat scroll 0px 0px;
}
.btn:hover, .btn:focus {
    color: #333;
    text-decoration: none;
}